html,
body {
    background-color: #1c1c1c;
    font-family: Raleway ,Helvetica,Arial,Lucida,sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    color: white;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent; 
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.thumbnail{
    border-width: 4px;
    border-style: solid;
    border-color: #BC0F0F;
    background-image: linear-gradient(to bottom right, black , #545454);
    text-align: center;
    
}
a{
    color: #BC0F0F;
}
.breadcrumb{
    background-color: black !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #BC0F0F !important;
    color: white;
}
h1{
    color: white;
}
h3{
    text-align: center;
}
.caption{
    color: white !important;
}
.card{
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #BC0F0F !important;
    background-image: linear-gradient(to bottom right, black , #545454);
    width: 600px;
}
.card-title{
    text-align: center;
}
.card-text{
    margin: 1em;
    text-align: justify;
    
}
.card-img-top{
    max-height: 100%;
    max-width: 100%;
}
.btn-lg{
    text-align: left;
}
.boton{
    
    border-radius: 5px;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #BC0F0F !important;
    
}
.boton-texto{
   margin-bottom: 1em;
   margin-top: 1em;
   margin-left: 1em;
}
.invisible{
    color: #1c1c1c;
}
.descripcion{
    text-align: center;
    margin-bottom: 1em;
}
.poderosocarusel{
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #BC0F0F !important;
}
.armaduras{
    color: white !important;
}
.clases{
    color: white !important;
    height: 500px;
    text-align: left !important;
}
.armas{
    color: white !important;
}
.dotes{
    height: 300px;
}
.personajes{
    color: white !important;
    height: 600px;
}

.razas{
    height: 600px;
    text-align: left !important;
}
.magias{
    height: 550px;
}
.objetos{
    height: 250px;
}
.habilidadesraza{
    height: 200px;
}
.habilidadesclase{
    height: 200px;
}
.trasfondos{
    height: 500px;
}
.sesiones{
    text-align: left;
    height: 300px;
}
.usuarios{
    color: white !important;
    height: 400px;
}

.btn-default{
    background-color: #BC0F0F !important;
    border-color: #BC0F0F !important;
    color: white !important;
}

.texto-magia{
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}
/* Imagenes e iconos */
.imagenespersonajesyusuarios {
    width: 200px;
    height: 200px !important;
    /*border: solid;
    /*border-color: #BC0F0F;
    border-radius: 5px;*/
}

.iconos {
    width: 15px;
}
.iconosheader{
    width: 40px;
}
.img-thumbnail{
    
    background-color: #BC0F0F !important;
    border-color: #BC0F0F !important;
}
.imagencirculo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.imagenescarusel{
    
}
table{
    background-color: whitesmoke; 
    border-color: #BC0F0F;
    color: #484545;
    
        
}
.botonclases{
    position: absolute;
    left:   30%;
    width:  20%;
    top:    87%;
}
.botonrazas{
    position: absolute;
    left:   40%;
    width:  20%;
    top:    85%;

}
.well{
    background-image: linear-gradient(to bottom right, black , #545454) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #BC0F0F !important;
    color: white;
}
.recordatorio {
    
    border-width: 4px;
    border-style: solid;
    border-color: #BC0F0F;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, black , #545454);
    text-align: center;
    position: fixed;   
    bottom: 50%;
    left: 5px;
}
.recordatorio-texto {
    margin: 1em;
}
.footer{
    color:  whitesmoke;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-color: #3c3c3c;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
}
/* Estilo de todo el personaje*/
.nombre {
    text-align: left;
}
.texto-introducion{
    text-align: left;
}
.imagen-personaje{
    border: solid;
    border-radius: 5px;
    border-color: #BC0F0F;
    height: 400px;
    width: 400px;
}
.col-md-2{
    text-align: center;
}
.cuadrado{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #BC0F0F;
    margin-left: 1em;
    text-align: center;
}

.hr{
    color: #BC0F0F;
}
